<section class="main-container col1-layout">
            <div class="main container">
                <div class="account-login">
                    <div class="page-title">
                        <h2>Create an Account</h2>
                    </div>
                    <fieldset class="col2-set">
                        <legend>Create an Account</legend>
                        <div class="col-0 registered-users"><strong>User Registration</strong>
                            <div class="content">
                                <!--<p>If you have an account with us, please log in.</p>-->
                                <ul class="form-list">
                                    <li>
                                        <label>Firs Name </label>
                                        <br>
                                        <input type="text" id="tb-reg-firstname" placeholder="Please complete the First Name" title="First Name" class="input-text " value="" name="register[username]">
                                    </li>
                                    <li>
                                        <label>Last Name </label>
                                        <br>
                                        <input type="text" id="tb-reg-lastname" placeholder="Please complete the Last Name" title="Last Name" class="input-text " value="" name="register[username]">
                                    </li>
                                    <li>
                                        <label>User Name <span class="required">*</span></label>
                                        <br>
                                        <input type="text" id="tb-reg-username" placeholder="Please complete the User Name" title="User Name" class="input-text required-entry"  name="register[username]">
                                    </li>
                                    <li>
                                        <label>Email Address </label>
                                        <br>
                                        <input type="text" id="tb-reg-email" placeholder="Please complete the email address" title="Email Address" class="input-text" value="" name="register[username]">
                                    </li>
                                    <li>
                                        <label for="pass">Password <span class="required">*</span></label>
                                        <br>
                                        <input type="password" id="tb-reg-password" placeholder="Please fill the Password field." title="Password" id="pass" class="input-text required-entry validate-password">
                                    </li>
                                    <li>
                                        <label for="pass">Confirm Password <span class="required">*</span></label>
                                        <br>
                                        <input type="password" id="tb-reg-repassword" placeholder="Please complete the Repeat password." title="Password" id="pass" class="input-text required-entry validate-password">
                                    </li>
                                </ul>
                                <p class="required">* Required Fields</p>
                                <div class="buttons-set">
                                    <button id="btn-register" name="send" type="submit" class="button login"><span>Register</span></button>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </section>