  <div class="container">
            <div class="slider-section">
                <div class="slider-intro">
                    <div class="the-slideshow slideshow-wrapper">
                        <ul class="slideshow" style="overflow: hidden;">
                            <li class="slide">
                                <p>
                                    <a href="#"> <img src="images/banner-img.jpg" alt="Banner Image" /></a>
                                </p>
                                <div class="caption light1 top-right">
                                    <div class="caption-inner">
                                        <p class="heading">Welcome to Watermelon Book Store</p>

                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>